@import url(../../config/css/config.css);


h2 {
  font-size: 5rem;
  text-transform: uppercase;
}

p {
  font-size: 2rem;
  line-height: 3rem;
}

a, .btn_jogar, .btn_cadastrar {
  width: fit-content;
  height: fit-content;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 15px;
}

body {
  height: auto;
}

/* HEADER */

.header {
  background: var(--linear_gradient);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--padding_x);
  padding-block: 30px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header .logotipo_container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header .logotipo_container span {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Quantico", sans-serif;
}

.header .logotipo_container img {
  width: 50px;
}

.header .navbar {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  column-gap: 25px;
}

.header .navbar ul {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  column-gap: 25px;
}

.header .navbar ul,
.header .navbar a,
.header .navbar span {
  text-transform: uppercase;
  font-size: 2rem;
}

.btn_jogar {
  padding: 10px 30px;
  background: var(--principal_color);
  color: var(--second_color);
  border-radius: 10px;
  font-weight: bolder;
  width: fit-content;
  height: fit-content;
}

.btn_cadastrar {
  padding: 10px 30px;
  background: var(--second_color);
  color: var(--principal_color);
  border-radius: 10px;
  font-weight: bolder;
  width: fit-content;
  height: fit-content;
}

/* /HEADER */

/* MAIN */

.main {
  padding-inline: var(--padding_x);
}

.main .sections {
  height: 75vh;
  width: 100%;
  border-radius: 50px;
  display: grid;
  column-gap: 100px;
  row-gap: 30px;
  overflow: hidden;
  margin-bottom: var(--padding_x);
  padding: var(--padding);
  overflow: hidden;
}

/* HOME */

#home {
  border-radius: 0 0 50px 50px;
  background: var(--first_color);
  display: flex;
  gap: 200px;
  position: relative;
  padding: var(--padding);

  & #home_bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(#0c131f00 0%, #0c131f 100%);
    position: absolute;
    left: 0;
    top: 0;
  }

  & .left_conatainer {
    height: 100%;
    width: 100%;
    grid-area: left_div;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    z-index: 2;

    & h1 {
      font-size: 6rem;
      text-transform: uppercase;
    }

    & a {
      padding: 20px 50px;
      background-color: var(--principal_color);
      color: var(--first_color);
    }
  }

  & #home_avatar {
    grid-area: img;
    height: 100%;
    z-index: 2;
  }

  & #home_bg_1 {
    position: absolute;
    top: 0;
    right: 0;
  }

  & #home_bg_2 {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* /HOME */

/* SERVICES */

#services .sections {
  background: var(--first_color);
}

#services_fisrt_section {
  grid-template-columns: min-content auto;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "avatar titulo"
    "avatar p "
    "avatar btn_container ";
  justify-items: end;

  & h2 {
    grid-area: titulo;
  }

  & img {
    grid-area: avatar;
    height: 100%;
  }

  & p {
    grid-area: p;
    text-align: end;
  }

  & .btn_conatainer {
    grid-area: btn_container;
    display: flex;
    gap: 50px;

    & .btn_jogar {
      padding: 10px 50px;
    }

    & .btn_cadastrar {
      padding: 10px 50px;
    }
  }
}

#services_second_section {
  grid-template-columns: auto min-content;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "titulo titulo"
    "services_container avatar";
  justify-items: end;
  height: 100%;

  & h2 {
    grid-area: titulo;
    justify-self: center;
  }

  & .services_container {
    grid-area: services_container;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;

    & .services_card {
      background-color: var(--principal_color);
      border-radius: 10px;
      padding: 20px;
      justify-items: center;
      gap: 20px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);

      & h3 {
        color: var(--first_color);
        font-size: 3rem;
      }

      & p {
        color: var(--first_color);
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }

  & img {
    grid-area: avatar;
  }
}

/* /SERVICES */

#about .sections,
#help {
  background: var(--second_color);
  display: flex;
  align-items: center;
  justify-content: space-between;

  & img {
    height: 100%;
  }

  & div {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
  }
}

#about_first_section {
  text-align: end;
}

#help {
  background: var(--third_color);
}

.btn_contact {
  padding: 20px 50px;
  background-color: var(--principal_color);
  color: var(--second_color);
}

#help_container {
  text-align: end;
  align-items: end;
}

/* /MAIN */

.footer {
  background: linear-gradient(
    90deg,
    #00243C 0%,
    #00507D 33%,
    #046788 66%);
  padding: var(--padding_x);
  display: grid;
  grid-template-columns: repeat(auto, 3);
  grid-template-rows: repeat(min-content, 5);
  grid-template-areas: 
  "footer_logo footer_second_list"
  "footer_p_1 footer_second_list"
  "footer_first_list footer_second_list"
  "footer_p_2 footer_second_list"
  "p_direitos_reservados p_direitos_reservados";
  row-gap: 10px;  
}

.footer * {
  font-size: 14px;
}

#footer_logo {
  grid-area: footer_logo;
}

#footer_p_1 {
  grid-area: footer_p_1;
}

#footer_first_list {
  grid-area: footer_first_list;
  display: flex;
  gap: 10px;
  
  & i{
    font-size: 3rem;
  }
}

#footer_p_2 {
  grid-area: footer_p_2;

  & a{
    text-transform: none;
  }
}

#footer_second_list {
  grid-area: footer_second_list;
  justify-self: end;
  text-align: end;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 5px;


  & h4{
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-bottom: 10px;
  }

  & a{
    font-weight:300;
    text-decoration: underline;
    font-size: 1.5rem;
  }

}

#p_direitos_reservados {
  grid-area: p_direitos_reservados;
  justify-self: center;

}


