@import url(../../../config/css/config.css);

/* MAIN */

.main {
  padding: 0px;
}

/* PLAY */

#play_section{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-template-rows: 1fr;
  /* display: none; */
}

#play_section .left{
  height: 100%;
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

#play_section .left .draw{

  
  height: 100%;
  width: 100%;
  
  box-shadow: 0px 0px 15px #00243ca4;
}

#play_section .left .tools{
  background-color: #d9d9d9;
  height: 30%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #00243ca4;
  display: grid;
  grid-template-columns: min-content min-content min-content;
}

#play_section .left .tools .tool_box {
  width: fit-content;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  align-items: center;

 
}

.button__tool,
.button__size {
  width: 20px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.button__tool span {
  font-size: 1.8rem;
  color: #000;
}

.button__tool:hover,
.button__size:hover {
  background-color: #f2f2f2;
}

.input__color {
  width: 45px;
  height: 45px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px 7px;
}

.input__color::-webkit-color-swatch {
  border-radius: 100px;
}

.button__size {
  padding: 10px;
  height: auto;
}

.button__size span {
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 100px;
  display: block;
}

.button__size[value="5"] span {
  height: 5px;
}

.button__size[value="10"]  span {
  height: 10px;
}

.button__size[value="20"] span {
  height: 20px;
}

.button__size[value="30"] span {
  height: 30px;
}

.active {
  background-color: #f2f2f2;
}

#play_section .right{
  height: 100%;
  width: 100%;
  display: flex;

}

#play_section .right .answer{

  background-color: var(--second_color);
  height: 100%;
  width: 60%;

}

#play_section .right .ranking{
  grid-area: ranking;
  background: var(--linear_gradient_3);
  height: 100%;
  width: 40%;
  box-shadow: -10px 0px 15px #00243ca4;
  border-left: solid 2px #00243c;

}

canvas {
  width: 100%; /* Ajuste ao container */
  height: 100%; /* Ajuste ao container */
  display: block; /* Remove espaços extras */
  background-color: #fff;
  border-radius: 20px;

}

/* /PLAY */

/* /MAIN */


