@import url(../../../config/css/config.css);

/* MAIN */

.main {
  padding: 0px;
}

/* PLAY */

#play_section {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-template-rows: 1fr;
  /* display: none; */
}

#play_section .left {
  height: 100%;
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

#play_section .left .draw {
  height: 100%;
  width: 100%;

  box-shadow: 0px 0px 15px #00243ca4;
}

#play_section .left .tools {
  background-color: #d9d9d9;
  height: 30%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #00243ca4;
  display: grid;
  padding: 10px;
  grid-template-columns: min-content min-content min-content;
  justify-content: space-between;
}

#play_section .left .tools .tool_box {
  border-radius: 10px;
  padding: 10px;
 
  display: flex;
  align-items: center;
  gap: 15px;
}

#play_section .left .tools .tool_box .button_tool,
#play_section .left .tools .tool_box .button_size {
  border-radius: 5px;
  background-color: #fff;
  border: solid 2px #ffffff;
  padding: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#play_section .left .tools .tool_box .button_tool span {
  font-size: 2rem;
  color: #000;
}

#play_section .left .tools .tool_box .button_tool:hover,
#play_section .left .tools .tool_box .button_size:hover {
  border: solid 2px #000;
  scale: 1.2;
  transition: ease 0.5s;
}

#play_section .left .tools .tool_box .button_tool .input__color {
  height: 100%;
  width: 100%;
}

#play_section .left .tools .tool_box .button_tool .input__color::-webkit-color-swatch {
  border-radius: 100%;
}

#play_section .left .tools .tool_box .button_size {
  width: 100px;

}

#play_section .left .tools .tool_box .button_size span {
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 100px;
  display: block;
}

#play_section .left .tools .tool_box #stroke_5 span {
  height: 5px;
}

#play_section .left .tools .tool_box #stroke_10 span {
  height: 10px;
}

#play_section .left .tools .tool_box #stroke_20 span {
  height: 20px;
}
#play_section .left .tools .tool_box #stroke_30 span {
  height: 30px;
}

.active {
  background-color: #f2f2f2;
} 

#play_section .right {
  height: 100%;
  width: 100%;
  display: flex;
}

#play_section .right .answer {
  background-color: var(--second_color);
  height: 100%;
  width: 60%;
}

#play_section .right .ranking {
  grid-area: ranking;
  background: var(--linear_gradient_3);
  height: 100%;
  width: 40%;
  box-shadow: -10px 0px 15px #00243ca4;
  border-left: solid 2px #00243c;
}


/* /PLAY */

/* /MAIN */
