@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

@import url(../../../config/css/config.css);

main {
  width: 100%;
  height: 100%;
  display: flex;
}

.main_contant {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  display: grid;
  background-color: var(--primary_color);
}

.main_container_login {
  grid-template-columns: 65% 35%;
}

.main_container_cadastro {
  grid-template-columns: 35% 65%;
  position: absolute;
}

.bg {
  position: absolute;
  background: var(--linear_gradient_2);
  width: 35%;
  height: 100%;
  border-radius: 0 30px 30px 0;
  z-index: 10;
  overflow: hidden;
}

.bg_conatainer {
  height: 100%;
  width: 100%;
  position: relative;
  filter: blur(7px);
}

.bg1,
.bg2 {
  position: absolute;

  z-index: 1;
  height: 100%;
}

.logo path {
  fill: #00243c;
}

.bg1 {
  height: auto;
  left: -10%;
}

.circulo1 {
  width: 1000px;
  height: 1000px;
  top: -100%;
  left: -100%;
  border-radius: 100%;
  background: radial-gradient(circle at center, #00507d, #004f7d00);
  position: absolute;
  z-index: -3;
  filter: blur(100px);
}

.circulo2 {
  width: 700px;
  height: 700px;
  bottom: -100%;
  right: -100%;
  border-radius: 100%;
  background: radial-gradient(circle at center, #00507d, #004f7d00);
  position: absolute;
  z-index: -2;
  filter: blur(100px);
}

#section_formulario_cadastro,
#container_cadastro_section_login {
  z-index: 11;
}

#section_formulario_login,
#container_login_section_cadastro {
  z-index: -1;
}

/* MOSTRAR CADASTRO */

.cadastro_js #section_formulario_cadastro {
  z-index: 11;
}

.cadastro_js #container_cadastro_section_login {
  z-index: 13;
}

.cadastro_js #section_formulario_login {
  z-index: -1;
}

.cadastro_js .bg {
  left: 0;
  animation: slideout 1.5s ease;
  z-index: 12;
}

.cadastro_js .logo path {
  fill: #00243c;
}

.cadastro_js #btn_voltar i {
  color: #e5e5e5;
}

/* MOSTRAR CADASTRO */

/* MOSTRAR LOGIN */

.cadastro_js #container_cadastro_section_login {
  z-index: 13;
}

.login_js #section_formulario_cadastro {
  z-index: -1;
}

.login_js #container_cadastro_section_login {
  z-index: -1;
}

.login_js #container_login_section_cadastro {
  z-index: 13;
}

.login_js #section_formulario_login {
  z-index: 11;
}

.login_js .bg {
  left: 65%;
  border-radius: 30px 0 0 30px;
  animation: slidein 1.5s ease;
  z-index: 12;
}

.login_js .logo path {
  fill: #e5e5e5;
}

.login_js #btn_voltar i {
  color: #00243c;
}





/* /MOSTRAR LOGIN */

/* ANIMAÇÃO CSS PARA O MAIN_CONTANT::BEFORE */

@keyframes slidein {
  from {
    left: 0;
    width: 35%;
  }

  to {
    left: 65%;
    width: 35%;
  }
}

@keyframes slideout {
  from {
    left: 65%;
  }

  to {
    left: 0;
    width: 35%;
  }
}

/* /ANIMAÇÃO CSS PARA O MAIN_CONTANT::BEFORE */

/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE */

.login_js #section_formulario_cadastro {
  z-index: -1;
  position: relative;
  animation: deslocamentoEsquerda 2s;
}

.cadastro_js #section_formulario_login {
  position: relative;
  z-index: -1;
  animation: deslocamentoDireita 2s;
}

.login_js #section_formulario_login,
.cadastro_js #section_formulario_cadastro {
  animation: sumirMensagem 0.5s;
}

.login_js #container_login_section_cadastro,
.cadastro_js #container_cadastro_section_login {
  animation: sumirMensagem 1s;
}

.login_js #container_login_section_cadastro .circulos,
.cadastro_js #container_cadastro_section_login .circulos {
  animation: sumirMensagem 2.5s;
}

/*ANIMAÇÃOO CSS PARA O CONTEÚDO*/

@keyframes deslocamentoEsquerda {
  from {
    left: 0;
    opacity: 1;
    z-index: 12;
  }

  25% {
    left: -80px;
    opacity: 0;
  }

  50% {
    left: -100px;
    opacity: 0;
  }

  to {
    left: -110px;

    opacity: 0;
    z-index: -1;
  }
}

@keyframes deslocamentoDireita {
  from {
    left: 0;
    opacity: 1;
    z-index: 12;
  }

  25% {
    left: 80px;
    opacity: 0;
  }

  50% {
    left: 100px;
    opacity: 0;
  }

  to {
    left: 110px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes sumirMensagem {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* /ANIMAÇÃOO CSS PARA O CONTEÚDO */

/* / DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE */

h2 {
  font-size: 3rem;
}

#btn_voltar {
  position: absolute;
  color: var(--primary_color);
  z-index: 15;
  left: 70px;
  top: 70px;
  font-size: 2.5rem;
  transition: 2.5s ease;
}



.logo {
  position: absolute;
  height: 70px;
  z-index: 15;
  right: 70px;
  top: 70px;
}

#container_cadastro_section_login,
#container_login_section_cadastro {
  display: grid;
  align-content: center;
  justify-items: center;
  align-items: baseline;
  padding: var(--padding);
  position: relative;
  overflow: hidden;
  border-radius: 0 30px 30px 0;

  & * {
    color: var(--primary_color);
  }

  & .textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    z-index: 2;

    & h3 {
      font-size: 2.5rem;
    }

    & p {
      font-size: 2rem;
    }
  }

  & .toggle_btn {
   
    background-color: var(--second_color);
    font-size: 2rem;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 80px;
    transition: 0.5s ease;
    font-weight: bold;
  }

  & .toggle_btn:hover, .toggle_btn:focus{
    scale: 1.1;
    background-color: var(--principal_color);
    color: var(--first_color);
  }
}

#container_login_section_cadastro {
  border-radius: 30px 0 0 30px;
}
.section_formulario {
  padding: var(--padding);
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  & .container_formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    & h2 {
      color: var(--first_color);
    }
  }

  & #formulario_cadastro {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(6, auto);
    justify-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;


    & .div_input_senha {
      grid-template-columns: 5% 1fr 5%;
    }

    & #div_input_confirmacao_senha {
      grid-template-columns: 5% 1fr 5%;
    }
  }

  & .input-container {
    position: relative;
    width: 80%;
    height: 100%;
    display: grid;
    grid-row: auto;
    grid-template-columns: 5% 1fr;
    gap: 20px;
    background-color: #A3BAC7;
    align-items: center;
    padding: 10px 30px;
    border-radius: 10px;

    & i {
      font-size: 1.5rem;
      color: var(--first_color);
      height: fit-content;
    }

    & input {
      width: 100%;
      font-size: 1.5rem;
      color: var(--first_color);
      font-weight: 300;
    }

    & input::placeholder {
      color: var(--first_color);
    }

    & input:focus {
      outline: none;
      color: var(--first_color);
    }

    & input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #A3BAC7 inset !important;
      -webkit-text-fill-color: var(--first_color) !important;
    }
  }

  & #formulario_login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "div_input_email"
      "div_input_senha"
      "btn";
    justify-items: center;
    gap: 10px;
    width: 80%;
    height: fit-content;

    & .div_input_email {
      grid-area: div_input_email;
    }

    & .div_input_senha {
      grid-area: div_input_senha;
      grid-template-columns: 5% 1fr auto;

      & #toggleConfirmacaoSenha,
      #toggleSenha {
        cursor: pointer;
      }
    }
  }

  & #toggle_confirmacao_senha,
  #toggle_senha_cadastro,
  #toggle_senha_login {
    cursor: pointer;
  }

  & #btn_cadastrar,
  #btn_entrar {
    background-color: var(--first_color);
    color: var(--principal_color);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    font-weight: bold;
    transition: 0.5s ease;
    padding: 10px 80px;
    margin-top: 50px;
  }

  & #btn_cadastrar:hover, #btn_cadastrar:focus
  #btn_entrar:hover, #btn_entrar:focus {
   
    scale: 1.1;
    background-color: var(--second_color);
   
  }
}
